@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Quicksand:wght@300;400;500;600;700&display=swap");
.gridCol3-center {
  display: grid !important;
  grid-template-columns: 1fr auto 1fr;
}

.gridCol2 {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
}

.cell-h50 {
  border: none;
  border-radius: 8px;
  height: 50px;
}

.formDatalist {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}

.btnSolid-btm {
  font-family: "Oxygen", sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  height: 50px !important;
}

.btnSblue5 {
  border: none;
  border-radius: 8px;
  height: 50px;
  background-color: #033D6F;
  font-family: "Oxygen", sans-serif;
  color: #FFFFFF;
  font-size: 1.125em;
  font-weight: 700;
}

.btnS-red5 {
  background-color: #8C2416;
}

.btnS-red2 {
  background-color: #F3BEA1;
  color: #8C2416;
}

.btnB-blue5 {
  border: solid 2px #033D6F;
  border-radius: 6px;
  background-color: #FFFFFF;
  color: #033D6F;
}

.btnB-red5 {
  border: solid 2px #8C2416;
  border-radius: 6px;
  background-color: #FFFFFF;
  color: #8C2416;
}

.btnS-deleteBtm {
  border: none;
  border-radius: 8px;
  height: 50px;
  width: 50px;
  background-color: #FFEBD7;
  color: #DB402A;
}

.btnS-editTable {
  border: none;
  border-radius: 8px;
  height: 38px;
  width: 38px;
  background-color: #B4E578;
  color: #5EAA23;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-92 {
  width: 92%;
}

.mb6 {
  margin-bottom: 6px;
}

.mt12 {
  margin-top: 12px;
}

.ms1 {
  margin-left: 1px;
}

.ms18 {
  margin-left: 18px;
}

.pb12 {
  padding-bottom: 12px;
}

.ps18 {
  padding-left: 18px;
}

header {
  width: 100vw;
  height: 58px;
  font-family: "Oxygen", sans-serif;
  background-color: #F1F4F5;
  padding-top: 2px;
}
header div.d-flex {
  margin: 14px 0px 10px 0px;
}
header i.iconHeader {
  font-size: 1.5em;
  margin-left: 20px;
}
header h1 {
  font-size: 1.25em;
  font-weight: 700;
}

.btnBorder-body {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  font-weight: 700;
}
.btnBorder-body i {
  font-size: 1em;
  margin-left: 10px;
}

footer {
  width: 100vw;
}

.gralFilters {
  font-family: "Oxygen", sans-serif;
}
.gralFilters label {
  font-size: 1em;
  font-weight: 700;
  color: #494949;
}
.gralFilters input.gralSearch {
  border: none;
  border-radius: 6px;
  background-color: #E5E5E5;
  height: 45px;
}
.gralFilters select {
  border: solid 1px #E5E5E5;
  border-radius: 6px;
  height: 45px;
}

.temaRojo header {
  background-color: #F2EEEA;
}
.temaRojo header h1 {
  color: #51070F;
}
.temaRojo footer {
  border-top: solid 2px #D0BBAB;
}
.temaRojo footer div {
  margin: 8px 8px 0px 8px;
}

.editCant h3 {
  font-size: 0.75em;
  font-weight: 700;
  color: #5EAA23;
  text-align: center;
}
.editCant button {
  border: none;
  border-radius: 8px;
  height: 50px;
  width: 50px;
  background-color: #B4E578;
  color: #5EAA23;
}
.editCant input {
  border: solid 2px #5EAA23;
  border-radius: 4px;
  height: 50px;
  width: 100px;
}

.articulos header {
  background-color: #F1F4F5;
}
.articulos header div.btnHeader-ARTC {
  background-color: #FFFFFF;
  margin: 0px;
}
.articulos header div.btnHeader-ARTC button {
  padding: 6px 12px;
}
.articulos footer {
  border: solid 2px #B0C7D2;
  border-bottom: none;
  border-radius: 6px;
  background-color: #F1F4F5;
  display: flex;
  justify-content: space-between;
  font-family: "Oxygen", sans-serif;
}
.articulos footer i {
  font-size: 1.25em;
}
.articulos footer i.me-1 {
  margin-left: 6px;
}
.articulos footer label {
  font-size: 1em;
  font-weight: 400;
}
.articulos footer h3 {
  font-size: 1.125em;
  font-weight: 700;
}

.articulosForm {
  width: 100vw;
  height: auto;
  background-color: #F1F4F5;
}
.articulosForm header {
  width: 100vw;
  font-family: "Oxygen", sans-serif;
  background-color: #F1F4F5;
  position: fixed;
  top: 0;
}
.articulosForm header div.d-flex {
  margin: 14px 0px 10px 0px;
}
.articulosForm header i {
  font-size: 1.5em;
  margin-left: 20px;
}
.articulosForm header h1 {
  font-size: 1.25em;
  font-weight: 700;
  color: #001840;
}
.articulosForm main {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  font-weight: 500;
  padding-top: 80px;
  padding-bottom: 60px;
}
.articulosForm main div.d-flex {
  margin-bottom: 14px;
}
.articulosForm main div.imgContainer-ARTC {
  width: 170px;
  height: 159px;
  background-color: #FFFFFF;
  border-radius: 6px;
}
.articulosForm main div.imgContainer-ARTC button {
  background-color: #033D6F;
  font-size: 1em;
  color: #FFFFFF;
  border: none;
  width: 100%;
  height: 32px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.articulosForm main label {
  color: #001840;
}
.articulosForm main input {
  border: none;
  border-radius: 8px;
  height: 50px;
}
.articulosForm main hr {
  height: 2px;
  background-color: #B0C7D2;
  color: #B0C7D2;
}
.articulosForm footer {
  width: 100vw;
  background-color: #F1F4F5;
  position: fixed;
  bottom: 0;
}
.articulosForm button.btnSblue5 {
  margin-top: 22px;
}

.ventas header {
  background-color: #F2EEEA;
}
.ventas header h1 {
  color: #51070F;
}
.ventas footer {
  border-top: solid 2px #D0BBAB;
}
.ventas footer div {
  margin: 8px 8px 0px 8px;
}

.ventaCarrito div.subHeader {
  border-bottom: solid 2px #D0BBAB;
  height: 50px;
}
.ventaCarrito div.subHeader h2 {
  font-family: "Oxygen", sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  color: #494949;
  margin-bottom: 0px;
}
.ventaCarrito div.subHeader i {
  font-size: 1.5em;
  color: #494949;
}
.ventaCarrito table {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1em;
}
.ventaCarrito table tr {
  border-bottom: solid 1px #D9D9D9;
}
.ventaCarrito table td.txTable-CAR {
  color: #969696;
}
.ventaCarrito table td.numTable-CAR {
  color: #494949;
  text-align: center;
}
.ventaCarrito table td.numtotTable-CAR {
  font-size: 1.125em;
  font-weight: 700;
  color: #494949;
  text-align: end;
  padding-right: 4px;
}
.ventaCarrito table button {
  text-align: center;
  margin: 6px 0px 6px 2px;
}
.ventaCarrito button.btnS-red5 {
  height: auto;
  padding: 0px;
}
.ventaCarrito button.btnS-red5 i.iconPagos-CAR {
  font-size: 1.5em;
}
.ventaCarrito button.btnS-red5 h3 {
  font-size: 0.75em;
}
.ventaCarrito button.btnS-red5 i.fa-chevron-right {
  margin-bottom: 6px;
}
.ventaCarrito button.padding-btmCAR {
  padding: 0px 12px;
}
.ventaCarrito div.subFooter {
  margin: 10px 0px 16px 2px;
}

.ventaEditar td {
  padding: 12px 6px;
}
.ventaEditar h3.deleteTx {
  font-size: 0.75em;
  font-weight: 700;
  color: #DB402A;
}/*# sourceMappingURL=main.css.map */