//ARTICULOS
.articulos{
    header{
        background-color: $siadBlue-gray5;
        div.btnHeader-ARTC{
            background-color: $theWhite;
            margin: 0px;
            button{
                padding: 6px 12px;
            }
        }
    }
    footer{
        border: solid 2px $siadBlue-gray6;
        border-bottom: none;
        border-radius: 6px;
        background-color: $siadBlue-gray5;
        display: flex;
        justify-content: space-between;
        font-family: $contrastFont;
        i{
            font-size: $titleTx;
        }
        i.me-1{
            margin-left: 6px;
        }
        label{
            font-size: $normiTx;
            font-weight: $regularTx;
        }
        h3{
            font-size: $mdTx;
            font-weight: $boldTx;
        }   
    } 
}

    //form-ARTICULOS
.articulosForm{
    width: 100vw;
    height: auto;
    background-color: $siadBlue-gray5;
    header{
        width: 100vw;
        font-family: $contrastFont;
        background-color: $siadBlue-gray5;
        position: fixed;
        top: 0;
        div.d-flex{
            margin: 14px 0px 10px 0px;
        }
        i{
           font-size: $headerTx;
           margin-left: 20px; 
        }
        h1{
            font-size: $titleTx;
            font-weight: $boldTx;
            color: $siadBlue8;
        }
    }
    main{
        font-family: $gralFont;
        font-size: $normiTx;
        font-weight: $mediumTx;
        padding-top: 80px;
        padding-bottom: 60px;
        div.d-flex{
            margin-bottom: 14px;
        }
        div.imgContainer-ARTC{
            width: 170px;
            height: 159px;
            background-color: $theWhite;
            border-radius: 6px;
            button{
                background-color: $siadBlue5;
                font-size: $normiTx;
                color: $theWhite;
                border: none;
                width: 100%;
                height: 32px;
                border-top-right-radius: 6px;
                border-top-left-radius: 6px;
            }
        }
        label{
            color: $siadBlue8;
        }
        input{
            border: none;
            border-radius: 8px;
            height: 50px;
        }
        hr{
            height: 2px;
            background-color: $siadBlue-gray6;
            color: $siadBlue-gray6;
        }
    }
    footer{
        width: 100vw;
        background-color: $siadBlue-gray5;
        position: fixed;
        bottom: 0; 
    }
    button.btnSblue5{
        margin-top: 22px;
    }
}

//VENTA
.ventas{
    header{
        background-color: $red-gray5;
        h1{
            color: $red8;
        }
    }
    footer{
        border-top: solid 2px $red-gray6;
        div{
            margin: 8px 8px 0px 8px;
        }
    }
}
    //carrrito-VENTA
.ventaCarrito{
    div.subHeader{
        border-bottom: solid 2px $red-gray6;
        height: 50px;
        h2{
            font-family: $contrastFont;
            font-size: $mdTx;
            font-weight: $boldTx;
            color: $stronGris49;
            margin-bottom: 0px;
        }
        i{
            font-size: $headerTx;
            color: $stronGris49;
        }
    }
    table{
        width: 100%;
        font-family: $gralFont;
        font-weight: $mediumTx;
        font-size: $normiTx;
        tr{
            border-bottom: solid 1px $mdGrisD9;
        }
        td.txTable-CAR{
            color: $mdGris96;
        }
        td.numTable-CAR{
            color: $stronGris49;
            text-align: center;
        }
        td.numtotTable-CAR{
            font-size: $mdTx;
            font-weight: $boldTx;
            color: $stronGris49;
            text-align: end;
            padding-right: 4px;
        }
        button{
            text-align: center;
            margin: 6px 0px 6px 2px;
        }
    }
    button.btnSlg-red5{
        height: auto;
        padding: 0px;
        i.iconPagos-CAR{
            font-size: $headerTx;
        }
        h3{
            font-size: $xtrasmTx;
        }
        i.fa-chevron-right{
            margin-bottom: 6px;
        }
    }
    button.padding-btmCAR{
        padding: 0px 12px;
    }
    div.subFooter{
        margin: 10px 0px 16px 2px;
    }
}

.ventaEditar{
    td{
        padding: 12px 6px;
    }
    h3.deleteTx{
       font-size: $xtrasmTx;
       font-weight: $boldTx;
       color: $rojoDelete-ct;
    }
}

.ventaPago-efectivo{
    div.subHeader{
        border-bottom: solid 2px $red-gray6;
        height: 50px;
        h2{
            font-family: $contrastFont;
            font-size: $mdTx;
            font-weight: $boldTx;
            color: $stronGris49;
            margin-bottom: 0px;
        }
        i{
            font-size: $headerTx;
            color: $stronGris49;
        }
    }
    div.container-redGray5{
        background-color: $red-gray5;
        border-radius: 8px;
        width: 95%;
        color: $red8;
        font-family: $gralFont;
        font-size: $mdTx;
        font-weight: $mediumTx;
        div.containerCell-blanco{
            background-color: $theWhite;
            border-radius: 6px;
            height: 50px;
            width: 80%;
        }
        input{
            background-color: $theWhite;
            border: solid 2px $red5;
            border-radius: 6px;
            height: 50px;
            width: 75%;
        }
        i{
            font-size: $headerTx-lg;
        }
        span.boldTx{
            font-weight: $boldTx;
        }       
    }
    div.borderCont-red5{
        border: solid 2px $red5;
    }
}