//GRIDS
.gridCol3-center{
    display: grid!important;
    grid-template-columns: 1fr auto 1fr;
}
.gridCol2{
    display: grid!important;
    grid-template-columns: 1fr 1fr;
}

//WIDTH
.w-85{
    width: 85%;
}
.w-90{
    width: 90%;
}
.w-92{
    width: 92%;
}

//CELL FORM
.cell-h50{
    border: none;
    border-radius: 8px;
    height: 50px;
}
    //specials
    .formDatalist{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
    }

//BUTTONS
    //SOLID
    //azul
    .btnSblue5{
        border: none;
        border-radius: 8px;
        height: 50px;
        background-color: $siadBlue5;
        font-family: $contrastFont;
        color: $theWhite;
        font-size: $mdTx;
        font-weight: $boldTx;
    }
    //rojo
    .btnS-red5{
        border: none;
        border-radius: 8px;
        height: 50px;
        background-color: $red5;
    }
    //GENERALES
    //delete
    .btnS-deleteBtm{
        border: none;
        border-radius: 8px;
        height: 50px;
        width: 50px;
        background-color: $rojoDelete-bg;
        color: $rojoDelete-in; 
    }

    //BORDER
    //azul
    .btnB-blue5{
        border: solid 2px $siadBlue5;
        border-radius: 6px;
        background-color: $theWhite;
        color: $siadBlue5;
    }
    //rojo
    .btnB-red5{
        border: solid 2px $red5;
        border-radius: 6px;
        background-color: $theWhite;
        color: $red5;
    }
//MARGIN
    //bottom
    .mb6{
        margin-bottom: 6px;
    }
    //top
    .mt12{
        margin-top: 12px;
    }

//PADDING
    //bottom
    .pb12{
        padding-bottom: 12px;
    }