    header{
        width: 100vw;
        height: 58px;
        font-family: $contrastFont;
        background-color: $siadBlue-gray5;
        padding-top: 2px;
        div.d-flex{
            margin: 14px 0px 10px 0px;
        }
        i{
           font-size: $headerTx;
           margin-left: 20px; 
        }
        h1{
            font-size: $titleTx;
            font-weight: $boldTx;
        }
    }
    .btnBorder-body{
        font-family: $gralFont;
        font-size: $normiTx;
        font-weight: $boldTx;
        i{
            font-size: $normiTx;
            margin-left: 10px; 
        }
    }
    footer{
        width: 100vw;
    }

//FILTROS
.gralFilters{
    font-family: $contrastFont;
    label{
        font-size: $normiTx;
        font-weight: $boldTx;
        color: $stronGris49;
    }
    input.gralSearch{
        border: none;
        border-radius: 6px;
        background-color: $mdGrisE5;
        height: 45px;
    }
    select{
        border: solid 1px $mdGrisE5;
        border-radius: 6px;
        height: 45px;
    }
}

//TEMAS
.temaRojo{
    header{
        background-color: $red-gray5;
        h1{
            color: $red8;
        }
    }
    footer{
        border-top: solid 2px $red-gray6;
        div{
            margin: 8px 8px 0px 8px;
        }
    }
}