//TEXT
    //font
    $gralFont:'Quicksand', sans-serif;
    $contrastFont:'Oxygen', sans-serif;
    //size
    $normiTx:1em;//16px
    $mdTx:1.125em;//18px
    $titleTx:1.25em;//20px
    $headerTx:1.5em;//24px
    //weight
    $regularTx:400;
    $mediumTx:500;
    $boldTx:700;

//COLORS
    //basics
    $theWhite:#FFFFFF;
    $theBlack:#000000;
    //azul
    $siadBlue-gray5:#F1F4F5;//500
    $siadBlue-gray6:#B0C7D2;//600
    $siadBlue5:#033D6F;//500
    $siadBlue8:#001840;//800
    //gris
    $mdGrisE5:#E5E5E5;//borders-bg
    $stronGris49:#494949;//tx
